body {
  background: #0b020f;
  overflow-y: scroll;
  font-family: "Century Gothic", "Helvetica", sans-serif;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.df {
  display: flex;
}

.dif {
  display: inline-flex;
}

.pullLeft {
  transform: translateX(-4.5vw);
  transition: 0.3s;
  width: 16%;
}

.pullRight {
  transition: 0.3s;
}

.op0 {
  opacity: 0;
  z-index: -1;
}

.op1 {
  opacity: 1;
  background-color: white;
}

.tr03 {
  transition: 3s opacity;
}

.name {
  position: relative;
  top: 5%;
  left: 5%;
  height: 7%;
  width: 50vw;
  font-size: 4vw;
  font-weight: bold;
  opacity: 1;
  color: purple;
  font-weight: 500;
}

h1 {
  position: absolute;
  top: -3%;
  right: 5%;
  width: 30vw;
  font-size: 5vw;
  z-index: 2;
  opacity: 0.9;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  color: purple;
  font-weight: 500;
}

.personal {
  padding: 0.3vw;
  position: relative;
  top: 5%;
  left: 5.2%;
  width: 20%;
  background: rgba(233, 176, 253, 0.3);
  opacity: 0.9;
  z-index: 1;
  filter: brightness(1.5);
}

.personal p {
  position: relative;
  opacity: 0.9;
  font-size: 1.1vw;
  color: black;
  line-height: 1vw;
  margin-left: 5%;
}

.hide {
  position: absolute;
  top: 0%;
  right: 0%;
  border-color: #0b020f #0b020f transparent transparent;
  border-style: solid;
  border-width: 1.5vw;
  z-index: 0;
}

.intrdiv {
  position: absolute;
  top: 20%;
  right: 5%;
  height: 15%;
  width: 30%;
  text-align: center;
  justify: center;
  align-items: center;
  color: white;
  opacity: 0.9;
}
@media (max-width: 1000px) {
  .intrdiv {
    padding: 2.5vw;
  }
}

.intrdiv p {
  color: white;
  opacity: 0.9;
  position: absolute;
  top: 0%;
  font-size: 1.2vw;
  text-align: left;
  max-width: 100%;
}
@media (max-width: 1000px) {
  .intrdiv p {
    padding: 2.5vw;
    font-size: 4vw;
  }
}

.intrdiv span:nth-child(even) {
  display: none;
}

.intrdiv span:nth-child(odd) {
  display: inline;
}

.form1 {
  display: flex;
  position: relative;
  top: 38.5vh;
  left: 65%;
  height: 4%;
  width: 30%;
  background: rgba(244, 187, 255, 0.23);
  font-family: "Century Gothic", "Helvetica", sans-serif;
  filter: brightness(1.3);
  z-index: 6;
}
@media (max-width: 1000px) {
  .form1 {
    display: none;
  }
}

.form1 #instr {
  top: 0vh;
  left: 0%;
  position: absolute;
  font-size: 1.3vw;
  color: white;
  opacity: 0.7;
  margin-top: 10%;
}

#submit:disabled {
  filter: brightness(0.4);
  cursor: not-allowed;
}

#submit {
  cursor: pointer;
}

@-webkit-keyframes starrot1 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
.img1 {
  border-radius: 50%;
  z-index: 2;
  filter: brightness(50%);
  -webkit-transform: scale(0.6);
  -webkit-animation: starrot1 150s infinite linear;
}

.img2 {
  z-index: 2;
  border-radius: 50%;
  filter: brightness(40%);
  -webkit-animation: starrot1 100s infinite linear;
}

.img3 {
  border-radius: 50%;
  filter: brightness(70%);
  -webkit-animation: starrot1 30s infinite linear;
}

.img4 {
  z-index: 40;
  border-radius: 50%;
  filter: brightness(70%);
  -webkit-animation: starrot1 50s infinite linear;
}

.img5 {
  z-index: 14;
  width: 3.4rem;
  border-radius: 50%;
  filter: brightness(45%);
  -webkit-animation: starrot1 45s infinite linear;
}

.img6 {
  border-radius: 50%;
  filter: brightness(45%);
  -webkit-animation: starrot1 45s infinite linear;
}

.img7 {
  border-radius: 50%;
  z-index: 2;
  filter: brightness(60%);
  -webkit-animation: starrot1 45s infinite linear;
}

.img8 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
}

.img9 {
  border-radius: 50%;
  z-index: 2;
  filter: brightness(95%);
  -webkit-animation: starrot1 65s infinite linear;
}

.img10 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img11 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img12 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img13 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img14 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img15 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img16 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img17 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img18 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img19 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.img20 {
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: starrot1 45s infinite linear;
  filter: brightness(55%);
}

.work img {
  transition: all 1s;
}

.work img:hover {
  filter: brightness(140%);
}

.tech img:hover {
  filter: brightness(1.4);
  opacity: 1;
}

#a {
  position: absolute;
  top: 30%;
  left: 80%;
  background: transparent;
  background: transparent;
  -moz-animation: zindex 30s linear infinite;
  -webkit-animation: zindex 30s linear infinite;
}

#b {
  position: absolute;
  background: transparent;
  transform-origin: 50% 10vw;
  -moz-animation: rotate 30s linear infinite;
  -webkit-animation: rotate 30s linear infinite;
}

.highlight {
  transition: all 0.2s;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 14;
  border-radius: 50%;
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
  background: url("../images/cv.jpg");
  background-size: cover;
  -webkit-animation: zindex 30s linear infinite;
  filter: brightness(0.5);
  pointer-events: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(270deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
  }
}
.works-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  padding: 0 5vw 0;
  top: 15vh;
}
@media (max-width: 1000px) {
  .works-wrapper {
    top: 0;
  }
}

.worksInstr {
  flex: 1 1 100%;
  color: rgba(255, 255, 255, 0.4);
  line-height: 2vw;
  font-size: 1.3vw;
}
@media (max-width: 1000px) {
  .worksInstr {
    display: none;
  }
}

.works {
  flex: 0 1 40vw;
  position: relative;
  top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 6;
}
.works .work {
  position: relative;
  width: 100%;
  height: 3vw;
  margin-bottom: 3vw;
}
@media (max-width: 1000px) {
  .works .work {
    flex: 0 1 45%;
    font-size: 4vw;
    margin-bottom: 0vw;
  }
}
.works .work a {
  text-decoration: none;
  text-align: center;
}
.works .work a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .works .work a div {
    flex: 1 1 100%;
  }
}
.works .work a div .title {
  flex: 0 1 35%;
  margin-top: 0%;
  color: white;
  opacity: 0.7;
  order: 1;
  font-size: 1.2vw;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1000px) {
  .works .work a div .title {
    flex: 0 1 45%;
    font-size: 4vw;
  }
}
.works .work a div .tech {
  order: 2;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 1000px) {
  .works .work a div .tech {
    flex: 0 1 30%;
    font-size: 4vw;
  }
}
.works .work a div .tech img {
  width: 3.5vw;
  height: auto;
  margin-right: auto;
  margin-left: 2vw;
  opacity: 0.5;
}
@media (max-width: 1000px) {
  .works .work a div .tech img {
    width: 9vw;
  }
}
.works .work a div .tech .postcss {
  transform: scale(0.8);
  opacity: 0.35;
}
.works .work a div .tech .js {
  transform: scale(0.9);
  opacity: 0.5;
}
.works .work a div .tech .thunk {
  border-radius: 0.7vw;
  opacity: 0.3;
}
.works .work a div > img {
  width: 4vw;
  height: auto;
  order: 3;
  margin-left: auto;
}
@media (max-width: 1000px) {
  .works .work a div > img {
    width: 10vw;
  }
}

.imgDiv {
  margin-top: 15vh;
  flex: 0 1 45%;
}
.imgDiv .preview {
  display: flex;
  position: sticky;
  top: 5vw;
  right: 5vw;
  width: 100%;
  height: auto;
  z-index: 5;
  filter: brightness(0.9);
}
.imgDiv .preview .previewOn {
  z-index: 5;
}
@-webkit-keyframes showPrev {
  0% {
    border: 5vw solid transparent;
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: hidden;
    opacity: 1;
  }
  60% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    border: 5vw solid #0b020f;
    background: white;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background: #0b020f;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .h1 {
    top: 1%;
    right: 1%;
    opacity: 1;
    font-weight: 600;
  }

  .name {
    position: relative;
    top: 2.3%;
    left: 5%;
    height: 7%;
    font-size: 8vw !important;
    font-weight: bold;
    opacity: 1;
    color: purple;
    font-weight: 500;
  }

  .intrdiv {
    width: 95vw;
    margin-left: 5%;
    position: relative;
    top: 60vw;
    left: initial;
    font-size: 13vw !important;
  }

  .intrdiv p {
    position: relative;
    max-width: 100vw;
  }

  .intrdiv span:nth-child(odd) {
    display: none;
  }

  .intrdiv span:nth-child(even) {
    display: inline;
  }

  .personal {
    position: static;
    display: block;
    margin-left: 5%;
    width: 80vw;
  }

  .personal p {
    font-size: 4.12vw !important;
    width: initial;
    line-height: 4vw;
    margin-left: 3vw;
  }

  .hide {
    position: absolute;
    top: 0%;
    right: 0%;
    border-color: #0b020f #0b020f transparent transparent;
    border-style: solid;
    border-width: 5vw;
    z-index: 0;
  }

  .works {
    top: 90vw;
    width: 100vw;
    display: block;
    padding: 0 !important;
  }

  .works .work {
    margin-left: auto;
    margin-right: auto;
    width: 90vw !important;
    margin-bottom: 15vw !important;
  }

  .works a {
    font-size: 5.5vw;
  }

  .form1 {
    position: relative;
    top: 50vw;
    left: 5%;
    width: 95vw;
    height: 5%;
    z-index: 16;
  }
}
@media only screen and (max-width: 1024px) and (max-width: 1000px) {
  .form1 {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .form1 #text1 {
    width: 25vw;
  }
}
@media only screen and (max-width: 1024px) {
  .form1 #submit {
    width: 15vw;
    font-size: 3vw !important;
  }
}
@media only screen and (max-width: 1024px) {
  .form1 #instr {
    color: white;
    font-size: 4vw !important;
  }
}
@media only screen and (max-width: 1024px) {
  #a {
    position: absolute;
    top: 40%;
    left: 50%;
    background: transparent;
    background: transparent;
    -moz-animation: zindex 30s linear infinite;
    -webkit-animation: zindex 30s linear infinite;
  }
}
@media only screen and (max-width: 1024px) {
  #b {
    position: absolute;
    background: transparent;
    transform-origin: 50% 25vw;
    -moz-animation: rotate 30s linear infinite;
    -webkit-animation: rotate 30s linear infinite;
  }
}
@media only screen and (max-width: 1024px) {
  .highlight {
    transition: all 0.2s;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 14;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    background: url("../images/cv.jpg");
    background-size: cover;
    -webkit-animation: zindex 30s linear infinite;
    filter: brightness(0.5);
    pointer-events: fill;
  }
}

/*# sourceMappingURL=style.css.map */
