body {
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	overflow:hidden;
	cursor: none;	
	background-image:url("../images/sp.jpg");
	/* background-size: 100% 100%; */
	/* filter:brightness(120%); */
}

#canvas {
	display: absolute;
	top:0%;
	left:0%;
	height:100%;
	width: 100%;
	opacity:0.5;
	z-index: 10;
	transform: translateX(-0.55%) translateY(-1%);
	cursor: url('../images/ship.png');	
	filter:brightness(100%);
}

.space {
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%;
	z-index: -12;
	filter:brightness(120%);
	background-image:url("../images/sp.jpg");
	cursor:none;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  } 30% {
    opacity: 0.8;
  } 70% {
    opacity: 1;
  } 100% {
    opacity: 0.7;
  }
}

.star1 {
	position:absolute;
	top:40%;
	left:20%;
	height:4%;
	-webkit-animation: flicker 6ms ease alternate infinite, starrot1 20s infinite linear;
	-moz-animation: flicker 6ms ease alternate infinite, starrot1 20s infinite linear;
	border-radius: 50%;
	filter: opacity(85%);
}

@-webkit-keyframes starrot1 {
	from {
			-webkit-transform: rotate(0deg);
	}
	to {
			-webkit-transform: rotate(359deg);
	}
}

.star2 {
	position:absolute;
	top:15%;
	left:40%;
	height:3%;
	-webkit-animation: flicker 4ms ease alternate infinite;
	-moz-animation: flicker 4ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(90deg);
}

.star3 {
	position:absolute;
	top:70%;
	left:60%;
	height:3%;
	-webkit-animation: flicker 7ms ease alternate infinite;
	-moz-animation: flicker 7ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(45deg) opacity(75%);;

}

.star4 {
	position:absolute;
	top:76%;
	left:17.5%;
	height:3%;
	-webkit-animation: flicker 9ms ease alternate infinite;
	-moz-animation: flicker 9ms ease alternate infinite;
	border-radius: 50%;
	filter: opacity(70%);
}

.star5 {
	position:absolute;
	top:28%;
	left:3%;
	height:3%;
	-webkit-animation: flicker 10ms ease alternate infinite;
	-moz-animation: flicker 10ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(120deg);
}

.star6 {
	position:absolute;
	top:10%;
	left:60%;
	height:3.5%;
	-webkit-animation: flicker 1ms ease alternate infinite, starrot1 20s infinite linear;
	-moz-animation: flicker 1ms ease alternate infinite, starrot1 20s infinite linear;
	border-radius: 50%;
	filter: opacity(85%);
}

.star7 {
	position:absolute;
	top:40%;
	left:95%;
	height:3%;
	-webkit-animation: flicker 4ms ease alternate infinite;
	-moz-animation: flicker 3ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(60deg);
}

.star8 {
	position:absolute;
	top:90%;
	left:86%;
	height:3%;
	-webkit-animation: flicker 4ms ease alternate infinite;
	-moz-animation: flicker 4ms ease alternate infinite;
	border-radius: 50%;
}

.star9 {
	position:absolute;
	top:65%;
	left:75%;
	height:3%;
	-webkit-animation: flicker 7ms ease alternate infinite;
	-moz-animation: flicker 7ms ease alternate infinite;
	border-radius: 50%;
	filter: opacity(75%);
}

.star10 {
	position:absolute;
	top:64%;
	left:11%;
	height:3%;
	-webkit-animation: flicker 10ms ease alternate infinite;
	-moz-animation: flicker 10ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(120deg);
}

.star11 {
	position:absolute;
	top:30%;
	left:13%;
	height:3%;
	-webkit-animation: flicker 3ms ease alternate infinite;
	-moz-animation: flicker 3ms ease alternate infinite;
	border-radius: 50%;
	filter: opacity(75%);
}

.star12 {
	position:absolute;
	top:58%;
	left:89%;
	height:4%;
	-webkit-animation: flicker 6ms ease alternate infinite, starrot1 20s infinite linear;
	-moz-animation: flicker 6ms ease alternate infinite, starrot1 20s infinite linear;
	border-radius: 50%;
	filter:hue-rotate(60deg);
}

.star13 {
	position:absolute;
	top:33%;
	left:65%;
	height:2.5%;
	-webkit-animation: flicker 4ms ease alternate infinite;
	-moz-animation: flicker 4ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(60deg) opacity(70%);
}

.star14 {
	position:absolute;
	top:93%;
	left:35%;
	height:3%;
	-webkit-animation: flicker 7ms ease alternate infinite;
	-moz-animation: flicker 7ms ease alternate infinite;
	border-radius: 50%;
	filter:hue-rotate(60deg) opacity(70%);
}

.star15 {
	position:absolute;
	top:40%;
	left:53%;
	height:3%;
	-webkit-animation: flicker 7ms ease alternate infinite;
	-moz-animation: flicker 7ms ease alternate infinite;
	border-radius: 50%;
	filter:opacity(70%);
}


.star16 {
	position:absolute;
	top:25%;
	left:80%;
	height:3%;
	-webkit-animation: flicker 7ms ease alternate infinite;
	-moz-animation: flicker 7ms ease alternate infinite;
	border-radius: 50%;
	filter:opacity(100%);
}

.personal {
	position:absolute;
	top:0%;
	left:0%;
	height:30%;
	width:100%;
	/* text-shadow: 0px 1px 0px rgba(255,255,255,.5); */
	font-family: "Century Gothic", "Helvetica", sans-serif;
	font-weight: 500;
	color:white;
	opacity: 0.8;
}

.paddition {
	position:absolute;
	top:0%;
	left:60%;
	height:35.5%;
	width:40%;
	background: rgb(202, 122, 48);
	z-index: 0.5s;
}

h1 {
	position:absolute;
	top:0%;
	right:5%;
	font-size: 4.3rem;
	z-index:2;
	color:white;
	opacity: 0.9;
	font-family: "Century Gothic", "Helvetica", sans-serif;
	color:purple;
	font-weight: 500;
}

.p1 {
	position:absolute;
	top:0%;
	left:5%;
	font-size: 2.65rem;
	font-weight: bold;
	/* font-family: Snell Roundhand, cursive; */
	/* font-family: Brush Script MT,cursive;  */
	opacity: 0.9;
	color:purple;
	border-bottom: 0.20rem solid rgba(68, 0, 194, 0.4);
	font-weight: 500;
}
/* .p1:nth-letter(2n) {
	position:absolute;
	top:9.6rem;
	left:5%;
	color:rgba(42, 8, 105, 0.3);
} */
/* .line {
	position:absolute;
	top:19.5%;
	left:3%;
	height:0.5rem;
	width:5rem;
	-webkit-transform: rotateZ(90deg);
	background:purple;
	opacity: 0.9;
	z-index: -2;
} */

/* .p1>span {
	position: absolute;
	top:-15%;
	left:100%;
} */

.p2,.p3,.p4,.p5 {
	opacity: 0.7;
	font-size: 1.07rem;
	/* background:rgba(173, 11, 173, 0.3); */
	background:rgba(68, 0, 194, 0.2);
	color:white;	
}

.p2 {
	position:absolute;
	top:5.7rem;
	left:5%;
}

.p3 {
	position:absolute;
	top:7rem;
	left:5%;
}

.p4 {
	position:absolute;
	top:8.3rem;
	left:5%;
}

.p5 {
	position:absolute;
	top:9.6rem;
	left:5%;
	/* background:rgba(42, 8, 105, 0.3); */
}



.play {
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	z-index:2;
}

.me {
	position:absolute;
	top:24%;
	left:4.7%;
	width:11%;
	z-index:1;
}

.plank1  {
	position:absolute;
	top:28%;
	left:19%;
	width:71%;
	height:10%;
	z-index:1;
}

.rope  {
	position:absolute;
	top:62%;
	left:20%;
	width:30.5%;
	height:20%;
	z-index:1;
}

p {

	top:35%;
	left:0%;
	font-family: "Century Gothic", "Helvetica", sans-serif
}

p {
	position:absolute;
	font-size: 1.1rem;
	color:white;
	opacity: 0.4;
}

.works>p:nth-child(1) {
	position:absolute;
	/* top:2rem; 6...*/
	top:-15%;
	left:27%;
}

.w1 {
	position:absolute;
	/* top:2rem; 6...*/
	top:40%;
	left:27%;
	z-index: 2;
}

.w2 {
	position:absolute;
	top:50%;
	left:27%;
}

.w3 {
	position:absolute;
	top:60%;
	left:27%;
}

.w4 {
	position:absolute;
	top:70%;
	left:27%;
}

.w5 {
	position:absolute;
	top:80%;
	left:27%;
}

.w6 {
	position:absolute;
	top:80%;
	left:63%;
}

.works>p:nth-child(8) {
	position:absolute;
	top:25%;
	left:47%;
}

.works>p:nth-child(9) {
	position:absolute;
	top:45%;
	left:47%;
}

.works>p:nth-child(10) {
	position:absolute;
	top:65%;
	left:47%;
}

.works>p:nth-child(11) {
	position:absolute;
	top:85%;
	left:47%;
}

img:hover {
	-webkit-transform: scale(1.1);
	-webkit-transition: 0.5s;
	-moz-transform: scale(1.1);
	-moz-transition: 0.5s;
	filter:brightness(110%);
}

img {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	z-index: -11;
	/* -webkit-animation: starrot1 50s infinite linear; */
}

.img1 {
	position:absolute;
	top:40%;
	left:42%;
	width:3.3rem;
	border-radius: 50%;
	z-index: 2;
	filter:brightness(50%);
	-webkit-animation: starrot1 150s infinite linear;
}

.img2 {
	position:absolute;
	top:50%;
	left:42.5%;
	width:3.9rem;
	z-index: 2;
	border-radius: 50%;
	-webkit-animation: starrot1 50s infinite linear;
}

.img3 {
	position:absolute;
	top:60%;
	left:44.5%;
	width:3.2rem;
	border-radius: 50%;
	z-index: 2;
	filter:brightness(70%);
	-webkit-animation: starrot1 30s infinite linear;
}

.img4 {
	position:absolute;
	top:70%;
	left:46.5%;
	width:3.5rem;
	border-radius: 50%;
	z-index: 2;
	filter:brightness(70%);
	-webkit-animation: starrot1 50s infinite linear;
}

.img5 {
	position:absolute;
	top:80%;
	left:49%;
	width:3.2rem;
	border-radius:50%;
	z-index: 3;
	filter:brightness(45%);
	-webkit-animation: starrot1 45s infinite linear;
}

.img6 {
	position:absolute;
	top:40%;
	left:0%;
	width:100%;
	border-radius: 50%;
	filter:brightness(70%);
}

.img7 {
	position:absolute;
	top:45%;
	left:60%;
	width:4rem;
	border-radius: 50%;
	z-index: 2;
}

.img8 {
	position:absolute;
	top:65%;
	left:60%;
	width:4rem;
	border-radius: 50%;
	z-index: 2;
}

.img9 {
	position:absolute;
	top:85%;
	left:60%;
	width:4rem;
	border-radius: 50%;
	z-index: 2;
}

.img10 {
	position:absolute;
	top:85%;
	left:50%;
	width:4rem;
	border-radius: 50%;
	z-index: 2;
}

.wheel {
	position:absolute;
	top:170%;
	left:35%;
	width: 15%;
	border-radius: 50%;
}

.skills {
	position:absolute;
	top:75%;
	left:5%;
	width:50%;
	font-family: "Century Gothic", "Helvetica", sans-serif;
}

.skills>h2 {
	font-family: "Century Gothic", "Helvetica", sans-serif;
}

  @keyframes circle {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}

/* @keyframes inner-circle {
	from { transform:rotate(0deg); }
	to { transform:rotate(-360deg); }
}   */


.move {
	position: absolute;
	top:6rem;
	left:60%;
	width:6rem;
	height:6rem;
	margin: 20px auto 0; 
	font-size:100px;
	line-height:5rem;
	animation: circle 30s linear infinite;
	transform-origin:50% 200px;
	display:none;
} 

/* div > div {
	animation: inner-circle 20s linear infinite;
}
 */

 .sun {
	display: block;
	position:absolute;
	top:45%;
	left:64.5%;
	height:7rem;
	border-radius:50%;
	-webkit-filter: blur(2px) brightness(0.6);
	  -moz-filter: blur(0px) ;
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	transform:translatey(-50%) translatex(-50%);
	-webkit-animation: circle 120s infinite linear;
	z-index: 1;
  }
  
  .sun:hover {
	  border-radius:50%;
	  -webkit-filter: blur(2px) brightness(0.6);
		-moz-filter: blur(0px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		transform:translatey(-50%) translatex(-50%);
	-webkit-animation: circle 120s infinite linear;
	}

#a {
	position:absolute;
	top:45%;
	left:67.5%;
	  /* width: 1px;
	  height: 1px; */
	background:transparent;
	  /* webkit-animation: rotate 30s cubic-bezier(0.42, 0, 0.58, 1) infinite; */
	transform: rotateX(75deg);
	background:transparent;
	/* -webkit-animation: zindex 30s linear infinite; */
  }

  #b {
		-webkit-animation: circle 5s infinite linear;
		position: absolute;
		
		  /* top:0rem;
		  left:0%; */
		  background:black;
		  /* margin: 20px auto 0;	 */
		  animation: circle 15s linear infinite;
		  transform-origin:50% 150px;	
		  -webkit-animation: rotate 30s linear infinite;
		  /* zindex 30s linear infinite;   */
  }


.highlight {
	transition: all 0.2s;
	position: absolute;
	top:0%;
	left:0%;
	z-index:14;
	border-radius:50%;
	/* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
	position: absolute;
	height:3rem;
	width:3rem;
	background: url("../images/cv.jpg");
	background-size: cover;
	-webkit-animation: zindex 30s linear infinite;
	/* -webkit-animation: rotate 30s linear infinite, scale 30s linear infinite; */
  }

.scale {
	position: absolute;
	top:0%;
	left:0%;
	height:1rem;
	width:1rem;
	background:transparent;
	-webkit-animation: scale 30s linear infinite; 
}

  @-webkit-keyframes rotate {
		0% { transform:rotate(90deg);}
		25% {transform:rotate(180deg);} 
		50% {transform:rotate(270deg);}
		75% {transform:rotate(360deg);} 
	  	100% { transform:rotate(450deg); }
  }

   @-webkit-keyframes scale {
	0% {transform:scale(1); }
	25% {transform:scale(1.5);z-index: 2; } 
	50% {transform:scale(1);z-index: 2;  }
	75%  {transform:scale(0.5);  } 
	  100% { transform:scale(1);  }
} 

  @-webkit-keyframes zindex {
	0% {  z-index: 2;}
	25% { z-index: 2; } 
	50% { z-index: 0;}
	95% { z-index: 0;} 
	100% { z-index: 0;}
  }

  /* @-webkit-keyframes ellipse {
	0% { left:71%;
		 z-index: 0;}
	25% { z-index: 2; } 
	50% { left:62%;
		 z-index: 0;}
	75% {z-index: 0;} 
	100% { left:71%;
		 z-index: 0;}
  } */
  













@media only screen and (max-width: 414px) {

	.space {
		position:absolute;
		top:0%;
		left:0%;
		height:100%;
		width:100%;
	}

	#canvas {
		display:none;
	}

	/* #canvas {
		display: absolute;
		top:0%;
		left:0%;
		height:100%;
		width: 100%;
		opacity:0.5;
		z-index: 10;
		transform: translateX(-0.65%) translateY(-0.5%);
		cursor: url('../images/ship.png');	
	} */

	.works>p {
		position:absolute;
		font-size: 2rem;
	}

.p2 {
	position:absolute;
	top:14%;
	left:5%;
}

.p3 {
	position:absolute;
	top:17%;
	left:5%;
}

.p4 {
	position:absolute;
	top:20%;
	left:5%;
}

.p5 {
	position:absolute;
	top:23%;
	left:5%;
}

.p2,.p3,.p4,.p5 {
	opacity: 0.5;
	font-size: 1.07rem;
}


	.img1 {
		position:absolute;
		top:40%;
		left:42%;
		width:3.5rem;
		border-radius: 50%;
	}
	
	.img2 {
		position:absolute;
		top:25%;
		left:43%;
		width:3.5rem;
		border-radius: 50%;
	}
	
	.img3 {
		position:absolute;
		top:45%;
		left:44.5%;
		width:3.5rem;
		border-radius: 50%;
	}
	
	.img4 {
		position:absolute;
		top:65%;
		left:46.5%;
		width:3.5rem;
		border-radius: 50%;
	}
	
	.img5 {
		position:absolute;
		top:85%;
		left:49%;
		width:3.5rem;
		border-radius:50%;
		z-index: 2;
	}
	
	.img6 {
		position:absolute;
		top:5%;
		left:0%;
		width:100%;
		border-radius: 50%;
		filter:brightness(90%);
	}

	.star7 {
		position:absolute;
		left:50%;
	}

}
	













@media only screen and (min-width: 415px) and (max-width: 1024px) {

	
	html {
		/* position:absolute;
		top:0%;
		left:0%;
		/* height:100%;
		width:100%; */
		/* background-repeat: no-repeat; */ 
	}

	.body {
		/* position:absolute;
		top:0%;
		left:0%;
		height:100%; */
	}

	.space {
		display:block;
		height:115%;
		width:101%;
		filter: brightness(0.7);
		}

	#canvas {
		visibility: hidden;

	}

	/* .space {
		display:none;
	} */

	/* #canvas {
		display: absolute;
		top:0%;
		left:0%;
		height:100%;
		width: 100%;
		opacity:0.5;
		z-index: 10;
		transform: translateX(-0.65%) translateY(-0.5%);
		cursor: url('../images/ship.png');	
	} */

	.h1 {
		top:1%;
		right:5%;
		opacity:1;
		font-weight: 600;
}

	.p1 {
		font-size: 4rem;
		top:0%;
		opacity:1;
		font-weight: 600;
	}

	.p2 {
		position:absolute;
		top:10%;
		left:5%;
	}
	
	.p3 {
		position:absolute;
		top:13%;
		left:5%;
	}
	
	.p4 {
		position:absolute;
		top:16%;
		left:5%;
	}
	
	.p5 {
		position:absolute;
		top:19%;
		left:5%;
	}

	.p2,.p3,.p4,.p5,.p6 {
		font-size: 2.5rem;
		opacity:0.8;
	}

	.w6 {
		position:absolute;
		top:40%;
		left:57%;
	}

	.w2,.w3,.w4,.w5 {
		position:absolute;
		left:5%;
		font-size: 2.5rem;
		opacity: 0.8;
		
	}

	.w1 {
		position:absolute;
		left:5%;
		font-size: 2.5rem;
		opacity:0.9;
	}


	.w6 {
		font-size: 2.5rem;
		opacity: 0.8;
	}

	.personal>h1:nth-child(1) {
		font-size: 3rem;
	}

	.img1 {
		position:absolute;
		top:40%;
		left:45%;
		width:5.5rem;
		border-radius: 50%;
	}
	
	.img2 {
		position:absolute;
		top:50%;
		left:46%;
		width:5.5rem;
		border-radius: 50%;
	}
	
	.img3 {
		position:absolute;
		top:60%;
		left:49.5%;
		width:5.5rem;
		border-radius: 50%;
	}
	
	.img4 {
		position:absolute;
		top:70%;
		left:52.5%;
		width:5.5rem;
		border-radius: 50%;
	}
	
	.img5 {
		position:absolute;
		top:80%;
		left:58%;
		width:5.5rem;
		border-radius:50%;
		z-index: 2;
	}
	
	.img6 {
		position:absolute;
		top:5%;
		left:0%;
		width:120%;
		border-radius: 50%;
		filter:brightness(90%);
	}

	/* .star8 {
		position:absolute;
		left:85%;
		top:55%;
	} */

	.star1 {
		position:absolute;
		left:25%;
		top:35%;
		height:4%;
		filter:brightness(0.8);
	}

	.star2 {
		position:absolute;
		filter: brightness(0.7);
	}

	.star3 {
		position:absolute;
		filter: brightness(0.7);
	}

	.star4 {
		position:absolute;
		filter: brightness(0.7);
	}

	.star5 {
		position:absolute;
		filter: brightness(0.7);
	}

	.star6 {
		position:absolute;
		left:85%;
		top:25%;
		height:4%;
		filter:brightness(0.8);
	}

	.star7 {
		position:absolute;
		left:85%;
		top:55%;
		filter: brightness(0.7);
	}

	.star8 {
		position:absolute;
		filter:brightness(0.8);
	}

	.star9 {
		position:absolute;
		height:3%;
		filter: brightness(1.1) opacity(0.7);
	}

	/* .move {
		position: absolute;
		top:2rem;
		left:60%;
		width:6rem;
		height:6rem;
		margin: 20px auto 0; 
		font-size:100px;
		line-height:5rem;
		transform-origin:50% 200px;
		z-index: 2;
		background: red;
	}  */

	.sun {
		display: block;
		position:absolute;
		top:30%;
		left:68%;
		height:10rem;
		border-radius:50%;
		-webkit-filter: blur(2px) brightness(0.6);
		  -moz-filter: blur(0px) ;
		  -o-filter: blur(5px);
		  -ms-filter: blur(5px);
		transform:translatey(-50%) translatex(-50%);
		-webkit-animation: circle 120s infinite linear;
		z-index: 1;
	  }
	  
	  .sun:hover {
		  border-radius:50%;
		  -webkit-filter: blur(2px) brightness(0.6);
			-moz-filter: blur(0px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			transform:translatey(-50%) translatex(-50%);
		-webkit-animation: circle 120s infinite linear;
		  z-index: 1;
		  /* display:none; */
		}
	
		#a {
			position:absolute;
			top:20%;
			left:67.5%;
			  /* width: 4rem;
			  height: 1px; */
			background:transparent;
			  /* webkit-animation: rotate 30s cubic-bezier(0.42, 0, 0.58, 1) infinite; */
			transform: rotateX(0deg);
			background:transparent;
			/* -webkit-animation: zindex 30s linear infinite; */
		  }
		
		  #b {
				-webkit-animation: circle 5s infinite linear;
				position: absolute;
				width: 6rem;
				left:67.5%;
				  /* top:0rem;
				  left:0%; */
				  background:black;
				  /* margin: 20px auto 0;	 */
				  animation: circle 15s linear infinite;
				  transform-origin:80% 15.5rem;	
				  -webkit-animation: rotate 30s linear infinite;
				  /* zindex 30s linear infinite;   */
		  }
		
		
		.highlight {
			transition: all 0.2s;
			position: absolute;
			top:0%;
			left:0%;
			z-index:14;
			border-radius:50%;
			/* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
			position: absolute;
			height:3rem;
			width:3rem;
			background: url("../images/cv.jpg");
			background-size: cover;
			-webkit-animation: zindex 30s linear infinite;
			display:none;
			/* -webkit-animation: rotate 30s linear infinite, scale 30s linear infinite; */
		  }
	

	  @-webkit-keyframes ellipsemob {
		0% { left:69%;
			 z-index: 2;}
		25% { z-index: 2; } 
		50% { left:58%;
			 z-index: 0;}
		75% {z-index: 0;} 
		100% { left:69%;
			 z-index: 0;}
		
	  }
}

/* .star1,.star2,.star3,.star4,.star5,.star6   {
	filter:brightness(80%);
} */