.img1 {
    border-radius: 50%;
    z-index: 2;
    filter: brightness(50%);
    -webkit-transform: scale(0.6);
    -webkit-animation: planetRotate 150s infinite linear;
  }
  
  .img2 {
    z-index: 2;
    border-radius: 50%;
    filter: brightness(40%);
    -webkit-animation: planetRotate 100s infinite linear;
  }
  
  .img3 {
    border-radius: 50%;
    filter: brightness(70%);
    -webkit-animation: planetRotate 30s infinite linear;
  }
  
  .img4 {
    z-index: 40;
    border-radius: 50%;
    filter: brightness(70%);
    -webkit-animation: planetRotate 50s infinite linear;
  }
  
  .img5 {
    z-index: 14;
    width: 3.4rem;
    border-radius: 50%;
    filter: brightness(45%);
    -webkit-animation: planetRotate 45s infinite linear;
  }
  
  .img6 {
    border-radius: 50%;
    filter: brightness(45%);
    -webkit-animation: planetRotate 45s infinite linear;
  }
  
  .img7 {
    border-radius: 50%;
    z-index: 2;
    filter: brightness(60%);
    -webkit-animation: planetRotate 45s infinite linear;
  }
  
  .img8 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
  }
  
  .img9 {
    border-radius: 50%;
    z-index: 2;
    filter: brightness(95%);
    -webkit-animation: planetRotate 65s infinite linear;
  }
  
  .img10 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img11 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img12 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img13 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img14 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img15 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img16 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img17 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img18 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img19 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }
  
  .img20 {
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: planetRotate 45s infinite linear;
    filter: brightness(55%);
  }