 $didactGothic: Didact Gothic;
 $trebuchet: Trebuchet MS, Helvetica, sans-serif;
 $Gill: Gill Sans / Gill Sans MT, sans-serif;
 $lucinda: Lucida Sans Unicode, Lucida Grande, sans-serif;
 $centuryGothic: century-gothic, sans-serif;